h1 {
  font-size: 1em;
  text-align: center;
  color: #e5e338;
}

h3 {
  color: #4ec5c1;
  font-weight: 100;
  padding-right: 1%;
  margin-top: 1%;
  margin-bottom: 4%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: line-through;
}

body {
  font-family: 'Cutive Mono', monospace;
  margin: 0;
  padding: 0
}

span {
  color: #ec576b;
}

.under-dev {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 15%;
}

.mel-details {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;;
}

@-webkit-keyframes blink {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes blink {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.loading {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -moz-animation: blink 2s ease-in-out infinite normal;
  -webkit-animation: blink 2s ease-in-out infinite normal;
  animation: blink 2s ease-in-out infinite normal;
}